.pageWrapper {
    min-height: 100vh;
    background-color: #ffffff;
}

.banner {
    position: relative;
    width: auto;
    height: 350px;
    overflow: hidden;
    background: url('/images/department/imgbg1.png') left/cover no-repeat;
}






.container {
    max-width: 1200px;
    margin: 4rem auto 4rem;
    padding: 0 1.5rem;
    position: relative;
    z-index: 2;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 2rem;
}

@media (max-width: 640px) {
    .banner {
        height: 250px;
    }

    .bannerContent h1 {
        font-size: 2.5rem;
    }

    .container {
        margin-top: 2rem;
    }
}